AcmeCursos/AcmeCursos/Service References/ProfessorRemoto/ProfessorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcmeService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcmeService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Professor">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="leciona" nillable="true" type="tns:ArrayOfProfessorCurso" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Professor" nillable="true" type="tns:Professor" />
  <xs:complexType name="ArrayOfProfessorCurso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfessorCurso" nillable="true" type="tns:ProfessorCurso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessorCurso" nillable="true" type="tns:ArrayOfProfessorCurso" />
  <xs:complexType name="ProfessorCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" nillable="true" type="tns:Curso" />
      <xs:element minOccurs="0" name="cursoId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="professor" nillable="true" type="tns:Professor" />
      <xs:element minOccurs="0" name="professorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfessorCurso" nillable="true" type="tns:ProfessorCurso" />
  <xs:complexType name="Curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataLimiteInscricao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="inscricoes" nillable="true" type="tns:ArrayOfInscricao" />
      <xs:element minOccurs="0" name="leciona" nillable="true" type="tns:ArrayOfProfessorCurso" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Curso" nillable="true" type="tns:Curso" />
  <xs:complexType name="ArrayOfInscricao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inscricao" nillable="true" type="tns:Inscricao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInscricao" nillable="true" type="tns:ArrayOfInscricao" />
  <xs:complexType name="Inscricao">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" nillable="true" type="tns:Curso" />
      <xs:element minOccurs="0" name="cursoId" type="xs:int" />
      <xs:element minOccurs="0" name="dataInscricao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estudante" nillable="true" type="tns:Estudante" />
      <xs:element minOccurs="0" name="estudanteId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inscricao" nillable="true" type="tns:Inscricao" />
  <xs:complexType name="Estudante">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataMatricula" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="inscricoes" nillable="true" type="tns:ArrayOfInscricao" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sobrenome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estudante" nillable="true" type="tns:Estudante" />
  <xs:complexType name="ArrayOfProfessor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Professor" nillable="true" type="tns:Professor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessor" nillable="true" type="tns:ArrayOfProfessor" />
</xs:schema>