AcmeCursos/AcmeCursos/Service References/InscricaoRemoto/InscricaoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InscricaoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IInscricaoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wt-acmeservice.azurewebsites.net/InscricaoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wt-acmeservice.azurewebsites.net/InscricaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wt-acmeservice.azurewebsites.net/InscricaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInscricaoService_adiciona_InputMessage">
    <wsdl:part name="parameters" element="tns:adiciona" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_adiciona_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionaResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_remove_InputMessage">
    <wsdl:part name="parameters" element="tns:remove" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_atualiza_InputMessage">
    <wsdl:part name="parameters" element="tns:atualiza" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_atualiza_OutputMessage">
    <wsdl:part name="parameters" element="tns:atualizaResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_procura_InputMessage">
    <wsdl:part name="parameters" element="tns:procura" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_procura_OutputMessage">
    <wsdl:part name="parameters" element="tns:procuraResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_lista_InputMessage">
    <wsdl:part name="parameters" element="tns:lista" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_lista_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_detalhe_InputMessage">
    <wsdl:part name="parameters" element="tns:detalhe" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_detalhe_OutputMessage">
    <wsdl:part name="parameters" element="tns:detalheResponse" />
  </wsdl:message>
  <wsdl:portType name="IInscricaoService">
    <wsdl:operation name="adiciona">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/adiciona" message="tns:IInscricaoService_adiciona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/adicionaResponse" message="tns:IInscricaoService_adiciona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/remove" message="tns:IInscricaoService_remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/removeResponse" message="tns:IInscricaoService_remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="atualiza">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/atualiza" message="tns:IInscricaoService_atualiza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/atualizaResponse" message="tns:IInscricaoService_atualiza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="procura">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/procura" message="tns:IInscricaoService_procura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/procuraResponse" message="tns:IInscricaoService_procura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lista">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/lista" message="tns:IInscricaoService_lista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/listaResponse" message="tns:IInscricaoService_lista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="detalhe">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/detalhe" message="tns:IInscricaoService_detalhe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/detalheResponse" message="tns:IInscricaoService_detalhe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInscricaoService" type="tns:IInscricaoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adiciona">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/adiciona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="atualiza">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/atualiza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procura">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/procura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lista">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detalhe">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/detalhe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IInscricaoService" type="tns:IInscricaoService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IInscricaoService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adiciona">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/adiciona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="atualiza">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/atualiza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procura">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/procura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lista">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/lista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="detalhe">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/detalhe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InscricaoService">
    <wsdl:port name="BasicHttpBinding_IInscricaoService" binding="tns:BasicHttpBinding_IInscricaoService">
      <soap:address location="http://wt-acmeservice.azurewebsites.net/InscricaoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IInscricaoService" binding="tns:BasicHttpsBinding_IInscricaoService">
      <soap:address location="https://wt-acmeservice.azurewebsites.net/InscricaoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>